body{
    margin: 0%;
}
header{
    text-align: center;
    background-color: teal;
    color: white;
    height: 8rem;
    padding: 1%;
    nav{
        display: flex;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            color: black;
        }
    }
}
footer{
    background-color: rgb(0, 87, 87);
    padding: 2%;
    color: white;
}

@media screen and (max-width:414px) {
    header{
        text-align: center;
        background-color: teal;
        color: white;
        height: 5rem;
        font-size: 12px;
        padding: 0%;
        padding-top: 5%;
        h1{
            margin: 0%;
        }
        nav{
            padding-top: 5%;
            display: flex;
            justify-content: space-evenly;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    footer{
        background-color: rgb(0, 87, 87);
        color: white;
        height: 9rem;
        width: 100%;
        font-size: 12px;
        padding: 0%;
    }
}